@import 'bourbon';
@import 'neat';

// vertical align
@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  transform: translateY(-50%);
}

body {
  height: 100%;
  font-family: $helvetica;
  background-color: white;
  user-select: none;
}

html, body{
  min-height: 100%;
}

// colors
$procoreOrange: #F58025;
$procoreBlue: #216FB5;
$procoreGrey: #676767;
$procoreLightGrey: #E7E7E7;
$procoreModalShadow: rgba(#000000, 0.1);
